<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALICE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="apptitle">
        <p>ALICE: Your new companion for productivity</p>
    </div>



    <div>
        <form action="">
            <div class="formdiv1">
                <p>Sign In</p>
                <p>Enter your credentials to continue</p>
                <input type="text" placeholder="Enter your Username"> <br>
                <input type="password" placeholder="Enter your Password"> <br>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>